.drag-drop-wrapper {

    & .can-drag:hover {
        outline: 2rem solid red;
        background-color: lightblue;
    }
    & .dragging:active {
        opacity: 0.1;
    }
}

// *** if you put the below inside the .drag-drop-wrapper styles above, they will not work

.drag-drop-wrapper.droppable {
    background-color: lightgreen;
}

.bucket-wrapper.hover {
    background-color: white;
    border: 1px dashed black;
}

.drop-gap {
    border: 2px solid red;
}