# BACKEND ENVIROMENT VARIABLES:
OPENAI_API_KEY=your-key-here
PORT=8080
# WARNING: will cost $$$ if set to 0:
OPENAI_API_OFF=0

# MONGO DB CONNECTION:
MONGODB_URI=mongodb://localhost:27017/JobToolDB

# FOR FRONTEND
NEXT_PUBLIC_USE_BACKEND=0
# in test mode: no POST/PUT/DELETE requests to the backend
NEXT_PUBLIC_TEST_MODE=1