.dnd-item-controls
    display: flex
    width: max-content

.delete-button
    background-color: lightcoral
    border: 1rem solid black
    border-radius: 3rem
    opacity: 0.5
    cursor: 'pointer'
    &:hover
        opacity: 1

.move-handle
    background-color: lightblue
    border: 1rem solid black
    border-radius: 3rem
    opacity: 0.5
    cursor: 'pointer'
    &:hover
        opacity: 1
