.page-container {
    /* CENTER THE PAGE */
    display: flex;
    justify-content: center;
}

.A4-page {
    background-color: white;
    container-type: size;
    width: calc(21rem * 36);
    height: calc(29.7rem * 36);
}

@media print {
    .A4-page {
        width: calc(21rem * 45);
        height: calc(29.7rem * 45);
    }
}
