.page-print-div {
    overflow: scroll;
}

.A4-page {
    background-color: white;
    container-type: size;
    --base-font-size: 0.26cqw;

    width: calc(21rem * 36);
    height: calc(29.7rem * 36);
}

@media print {
    .A4-page {
        width: calc(21rem * 45);
        height: calc(29.7rem * 45);
    }
}

.download-button {
	height: min-content;
    width: max-content;
	align-self: center;
	padding: 5rem 40rem 5rem 40rem;
    font-size: medium;
    font-weight: bold;
}