.section-container {
	/* 3 rows:
		[ChangeSection]
		[AppSection]
		[ChangeSection]
	*/
	display: flex;
	flex-direction: column;
	gap: 20rem;
}

/* GENERAL ------------------------- */

.disabled {
    filter: blur(2rem);
    pointer-events: none;
}

/* NEXT SECTION --------------------- */

#section-select {
	height: min-content;
	display: flex;
	flex-direction: row;
	gap: 5%;
	align-items: center;
	justify-content: center;
}

	.change-section-button {
		flex-basis: min-content;

		background-color: white;
		padding: 10rem;
		font-size: x-large;
		font-weight: bold;
	}

	.change-section-button:hover {
		transform: scale(1.1);
		background-color: lightcoral;
		transition: 0.3s;
	}