

.custom-table {
    overflow-x: hidden;
}

.header-row td {
    background-color: black;
}

textarea {
    min-height: max-content;
}

#header-row {
    background-color:#282c34;
}

.custom-table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align:left;
    vertical-align:top;
    width: min-content; /* IMPORTANT */
    overflow-x: hidden;
    padding: 5px;
}


.data-col.hover {
    background-color:darkcyan;
}

.row-removal-col {
    border-right: hidden;
    border-bottom: hidden;
    border-top: hidden;
}

.row-removal-col:hover {
    background-color:lightcoral;
}

tr.delHover {
    background-color: lightcoral;
}