.App-Div {
    background-color: #282c34;
	color: white;
	padding: 20rem 10% 20rem 10%;
	width: 100vw;
	height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#job-info-display {
	display: grid;
	grid-template-rows: min-content;
	row-gap: 10em;
}

.download-button {
	height: min-content;
    width: min-content;
	align-self: center;
	padding: 5rem 40rem 5rem 40rem;
    font-size: medium;
    font-weight: bold;
    border-radius: 3rem;
}

.loader {
	align-self: center;
	padding: 50rem;
	width: 10rem;
	height: 10rem;
	border: 5rem solid black;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	}
	@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
