:root {
    --main-border-radius: 3rem;
}

button {
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    user-select: none;
	height: min-content;
}

.App-Div {
    background-color: #282c34;
	color: white;
	padding: 20rem 10% 20rem 10%;
	width: 100vw;
	height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.section-container {
	/* 3 rows:
		[ChangeSection]
		[AppSection]
		[ChangeSection]
	*/
	display: flex;
	flex-direction: column;
	gap: 20rem;
}

/* GENERAL ------------------------- */

.disabled {
    filter: blur(2rem);
    pointer-events: none;
}

/* NEXT SECTION --------------------- */

.change-section-div {
	flex-basis: content;

	display: flex;
	align-items: center;
	justify-content: center;
}

	.change-section-button {
		flex-basis: min-content;

		background-color: white;
		padding: 10rem;
		font-size: x-large;
		font-weight: bold;
	}

	.change-section-button:hover {
		transform: scale(1.1);
		background-color: lightcoral;
		transition: 0.3s;
	}

/* section-cl --------------------- */


.download-button {
	height: min-content;
    width: min-content;
	align-self: center;
	padding: 5rem 40rem 5rem 40rem;
    font-size: medium;
    font-weight: bold;
    border-radius: var(--main-border-radius);
}

.loader {
	align-self: center;
	padding: 50rem;
	width: 10rem;
	height: 10rem;
	border: 5rem solid black;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	}
	@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
