/* HIGH LEVEL LAYOUT (irrespective to content) ---------------------------- */

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--cv-col-gap);
}

.rows {
    display: grid;
    grid-auto-rows: min-content; /* same as repeat(N, min-content), where N = # rows */
    row-gap: var(--cv-row-gap);
}